<app-faculties></app-faculties>
<router-outlet></router-outlet>

<div>
    <img src="../../assets/image/enginering.jpg" class=" w-100 pt-1">
</div>
<div  class=" ml-5">
    <div class=" row">
        <div class="col-sm-6">
            <h2>Faculty of Enginering</h2>
            <p> 
                <br>
                Engineering is a discipline that embodies the science and technology of design, construction, implementation, and maintenance of software and 
                hardware components of modern computing systems, computer-controlled equipment, and networks of intelligent devices. 
                Traditionally, computer engineering is a combination of both electrical engineering and computer science.
            </p>
        </div>
        <div class="col-sm-6 pl-5">
            <p>
                <br>
                <br>
                It has evolved over the past decades as a separate, although intimately related, discipline. Computer engineering is solidly grounded in the theories and principles of computing,
                 mathematics, science, and engineering and it applies these theories and principles to solve technical problems through the design of computing hardware, software, networks, and processes. 
                 The Faculty of Engineering is now offering a variety of engineering and design degrees under the umbrella of National School of Business management.
                 The vision of our faculty is to produce creative engineering innovators who could handle the dynamic challenges of the new Era.
            </p>
        </div>
    </div>
</div>

<div style="background-color: lightgreen; " class=" w-100 mb-1 pb-5">
    <div style="background-color: lightgray;">
        <h2 style="text-align: center;">Programmes Offered</h2>
    </div>
    <br>
    <div class="row justify-content-around">
        <div class="col-4">
          <div class="card w-100">
            <div class="card-body">
              <h5  class="card-title"> UGC Approved - Offered By NSBM</h5>
            <ul>
                <li>
                    Bachelor of Interior Design     
                </li>
                <li>
                    BSc (Hons) Engineering in Computer Systems Engineering
                </li>
                <li>
                    Bachelor of Science Engineering Honours in Electrical and Electronic Engineering
                </li>
                <li>
                    Bachelor of Science Engineering Honours in Electrical and Electronic Engineering
                </li>
            </ul>
              </div>
          </div>
         </div>
      <br>
      <br>
    </div>
</div>

    <div class=" row">
        <div class="col-sm-6 align-self-center">
            <h2>Life at Faculty of Engineering</h2>
        </div>
        <div class="col-sm-6">
            <p>
                Unlocking the potentials of young generations Faculty of Engineering provides wide range 
                of activities suiting to new digital age. Clubs and societies both international and local
                 provides the young undergraduates of the faculty and enormous opportunity to develop skills 
                 related to team work and leadership. The calendar of faculty of business is full of events, 
                 giving unprecedented opportunities to young undergraduates.   
            </p>
        </div>
    </div>
