
<div>
<h1 style="font-size:200px; color:#FF7A00; text-align:center;margin-top: 200px;">404</h1> 
<h3 style="font-size:50px; color:#FF7A00; text-align:center; margin-bottom:1px;">Page Not Found</h3> 
<div style="font-family: 'Capriola', sans-serif;">
    <h4 style="color:#B1A18D; font-size:20px; margin-top:20px; text-align:center;">
        We are sorry for the inconvenience we couldn't find the page you are looking for.
    </h4>
    <h5 style="color:#B1A18D; font-size:20px; margin-top:1px; text-align:center;">
        You either misspelled the url or requesting a page that no longer exists.
   </h5>
</div>
<div style="margin-top:20px; text-align:center;" >
    <button class="btn btn-outline-success" routerLink="" ><i class="fas fa-arrow-left"> Return Home</i></button>
</div>
</div>

