<app-faculties></app-faculties>
<router-outlet></router-outlet>

<div>
    <img src="../../assets/image/computing.jpg" class=" w-100 pt-1">
</div>

<div class=" ml-5">
    <div class=" row">
        <div class="col-sm-6">
            <h2>Faculty of Computing</h2>
            <p> 
                <br>
                The Faculty of Computing (SOC) provides world class education and training in Computing and Information Technology, both at undergraduate as well as post graduate levels.
                <br>
                SOC offers University Grants Commission’s approved degree programmes in multiple disciplines. It has also partnered with the world top ranking universities, University College Dublin in Ireland, 
                University of Plymouth in UK and Victoria University in Australia to provide undergraduates with highly recognized International Degrees. The innovative teaching methods along with the
                latest state of the art equipment form the perfect blend that motivates our students to do their best and reach their goals with ease.
            </p>
        </div>
        <div class="col-sm-6 pl-5 ">
            <p>
                <br>
                <br>
                The Faculty provides top notch research, training and development services that will help students acquire new knowledge along with the best practices in their respective disciplines. The SOC aims to be among the foremost centre of excellence in Research and Development (R&D)
                and advance education in computing while taking into consideration national as well as regional requirements for Information and Communication Technology.
                <br>
                The SOC places equal emphasis on both theory and practice of all aspects of the computing field, enabling our students to have sufficient hands on experience to take up any working assignment in their respective IT fields at the end of their degree programmes. 
                So, look no further for that perfect computing degree, NSBM’s Faculty of Computing is the ideal choice!
            </p>
        </div>
    </div>
</div>


<div style="background-color: lightgreen;" class=" w-100 mb-1">
    <div style="background-color: lightgray;">
        <h2 style="text-align: center;">Programmes Offered</h2>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
          <div class="card w-100">
            <div class="card-body">
              <h5  class="card-title"> UGC Approved - Offered By NSBM</h5>
              <ul class=" card-text">
                  <li>
                      BSc in Management Information Systems (Special) 
                  </li>
                  <li>
                      BSc (Hons) in Software Engineering
                  </li>
                  <li>
                      BSc (Hons) in Computer Science
                  </li>
                  <li>
                      BSc (Hons) in Computer Networks
                  </li>
                  <li>
                      BSc in Multimedia
                  </li>
              </ul>
              <h5  class="card-title"> Victoria University - Australia</h5>
              <ul class=" card-text">
                <li>
                    Bachelor of Information Technology (NBIT): Major in Web 
                    <br> Mobile Application Development
                </li>
            </ul>
              </div>
          </div>
         </div>
      <br>
      <br>
        <div class="col-4">
          <div class="card w-100 " >
            <div class="card-body">
              <h5 class="card-title">Plymouth University - United Kingdom</h5>
              <ul class=" card-text">
                <li>
                    BSc (Hons) Software Engineering
                </li>
                <li>
                    BSc (Hons) Computer Security
                </li>
                <li>
                    BSc (Hons) Computer Networks
                </li>
            </ul>
            <h5 class="card-title">University College Dublin - Ireland</h5>
            <ul class=" card-text">
                <li>
                    BSc (Hons) Management Information Systems
                </li>
            </ul>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
</div>
<div class=" row ">
    <div class="col-sm-6 align-self-center">
        <h2>Life at Faculty of Computing</h2>
    </div>
    <div class="col-sm-6">
        <p>
            Unlocking the potentials of young generations Faculty of Computing provides wide range of activities suiting to new digital age. 
            Clubs and societies both international and local provides the young undergraduates of the faculty and enormous opportunity to develop 
            skills related to team work and leadership. The calendar of faculty of business is full of events, giving unprecedented opportunities to young undergraduates.  
        </p>
    </div>
</div>