<nav class="navbar navbar-expand-sm bg-dark">

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="" >Home</a>
    <a routerLink="/about us">About Us</a>
    <a (click)="opensocial()" style="cursor: pointer;">Social Media</a>
    <a  (click)="openContactsModal()" style="cursor: pointer;">Contacts</a>
  </div>
  
  <div id="main">
    <i class="fas fa-bars fa-lg" style=" color: white; font-size:30px;cursor:pointer;" (click)="openNav()"></i>
  </div>
    <a class="navbar-brand" style="color: white; text-align: center;" routerLink=""><strong> NSBM HUB</strong></a>
    <a href="#" >
      <i class="fa fa-user fa-lg icon" style="color: white;"> Login</i>
    </a>
  </nav>


 