<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div class="container background position-absolute mt-5 con">
  <ul id="apps" class="form-inline">  
<li  class="col-md-6 col-lg-4 pa">
  <div class="card border-success shadow-sm bg-dark w-75"><a routerLink="/Discover NSBM">
  <img class="card-img-top w-100 d-block" src="../../assets/image/discover.jpg"  alt="...">
  <div class="card-body ">
    <strong><h3>Discover NSBM</h3></strong>
  </div></a>
</div>
</li>
<li  class="col-md-6 col-lg-4 pa">
  <div class="card border-success  shadow-sm bg-dark w-75 "><a routerLink="/business">
    <img class="card-img-top w-100 d-block" src="../../assets/image/facalty.jpg" alt="...">
    <div class="card-body">
     <strong><h3>Facalties</h3></strong>
    </div></a>
  </div>
</li>
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success shadow-sm bg-dark w-75"><a routerLink="/news">
    <img class="card-img-top w-100 d-block" src="../../assets/image/News.jpg"  alt="...">
    <div class="card-body">
      <h3> News</h3>
    </div></a>
  </div>
</li>
</ul>
<ul id="apps" class="form-inline">
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success bg-dark w-75"><a routerLink="/international">
  <img class="card-img-top w-100 d-block" src="../../assets/image/international.jpg" alt="...">
  <div class="card-body ">
    <h3>International</h3>
  </div></a>
</div>
</li>
<li class="col-md-6 col-lg-4 pa ln">
  <div class="card border-success bg-dark w-75"><a routerLink="/Sports clubs">
    <img  class="card-img-top w-100 d-block" src="../assets/image/nsbm.jpg"  alt="...">
    <div class="card-body">
      <h3>Life at NSBM</h3>
    </div></a>
  </div>
</li>
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success bg-dark w-75"><a routerLink="/calender">
    <img  class="card-img-top w-100 d-block" src="../../assets/image/calendar.jpeg"  alt="Calendar">
    <div class="card-body">
      <h3>Event Calendar</h3>
    </div></a>
  </div>
</li>
</ul>
<ul id="apps" class="form-inline">
  <li class="col-md-6 col-lg-4 pa">
    <div class="card border-success bg-dark w-75"><a href="#" (click)="openwifi()">
    <img class="card-img-top w-100 d-block" src="../../assets/image/wifi.jpeg" alt="...">
    <div class="card-body ">
      <h3>WIFI INFO</h3>
    </div></a>
  </div>
  </li>
  <li class="col-md-6 col-lg-4 pa lc">
    <div class="card border-success bg-dark w-75"><a routerLink="location">
    <img class="card-img-top w-100 d-block" src="../../assets/image/location.jpg" alt="...">
    <div class="card-body ">
      <h3>Location</h3>
    </div></a>
  </div>
  </li>
  </ul>
</div>
</body>
</html>




