<div class=" container background position-absolute mt-5 con">
    <ul id="apps" class="form-inline">  
       <li class="card col-md-6 col-lg-4 pa" *ngFor="let new of news" style="width: 18rem;">
         <img class="card-img-top" src=".." alt="Card image cap">
           <div class="card-body">
            <h5 class="card-title">{{new.Subject}}</h5>
            <p class="card-text">{{new.details}}</p>
           </div>
        </li>
    </ul>
</div>
